certifi==2020.4.5.2
chardet==3.0.4
decorator==4.4.2
docker==4.2.1
escapism==1.0.1
idna==2.9
ipython-genutils==0.2.0
Jinja2==2.11.3
jupyter-repo2docker==0.11.0
MarkupSafe==1.1.1
python-json-logger==0.1.11
requests==2.23.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
semver==2.10.1
six==1.15.0
toml==0.10.1
traitlets==4.3.3
urllib3==1.25.9
websocket-client==0.57.0
